.slick-prev:before, .slick-next:before{
    color: black !important;
    font-size: 4rem !important;
    border: 0;

    
}
@media screen and (min-width: 1025px) {
    .display{
        display: none !important;
    }
}
.width-item {
    width: 100% !important;
}

.slick-slide {
  padding: 10px !important;
}
.none-active{
    background-color: black !important;
    color: white !important;
    border-radius: 15px;
}
.active{
    background-color: white !important ;
    color: black !important;
}
button:focus {
  outline: none;
}
